#chat-screen .alt-header span:last-child {
    margin-left: 15px;
}

#chat-screen .alt-header div:nth-child(2) {
    margin-left: 45px;
}

#chat-screen {
    background-color: #abc1d1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 120vh;
}

#chat-screen::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    z-index: 1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    top: 0px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.main-chat {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_timestamp {
    color: white;
    background-color: rgba(100, 97, 97, 0.3);
    padding: 10px;
    border-radius: 25px;
    font-size: 13px;
    margin-bottom: 25px;
    animation: fadeIn 0.5s linear;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.message-row {
    width:100%;
    display:flex;
    margin-bottom: 20px;
    animation: fadeInLeft 0.6s ease-in-out;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    margin-right: 10px;
}


.message__info {
    display: flex;
    align-items: end;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 14px;
    display: block;

}

.message__bubble {
    background-color: white;
    padding: 8px 14px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 4px;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 500;
}


.message-row__own {
    animation: fadeInRight 0.6s ease-in-out;
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 5px;
}


.message-row__own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    font-family: inherit;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    border: var(--main--border);
    border-radius: 20px;
    padding: 0px 12px;
    transition: all 0.3s ease-in-out;
}


.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 3px;
    top: 2px;

}

.reply__column:last-child i {
    right: 40px;
    top: 7px;
}

.reply__column:last-child button  {
    background-color: var(--yellow);
    border: none;
    width: 28px;
    height: 27px;
    border-radius: 50%;
}

.reply__column button:focus
.reply__column button:active {
    outline: none;
}

.reply i {
    opacity: 0.5;
}

.reply__column button i {
    opacity: 0.8;
}

.reply .reply__column:first-child,
.reply .fa-smile, 
.reply button {
    transition: opacity 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile, 
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    transform: translateX(-10%) translateY(-80px);
    width: 90vw;
}
.reply:focus-within {
    transform: translateY(80px);
}