.welcome-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-top: 150px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.8;
    line-height: 130%;
    font-weight: 300;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form  input {
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form  input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

#login-form input:focus,
#login-form input:hover {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    transition: background-color 0.4s ease-in-out,
                font-weight 0.1s ease-in;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 0px;
}
#login-form input[type="submit"]:focus,
#login-form input[type="submit"]:hover{ 
    background-color: var(--yellow);
    font-weight: 700;
}

#login-form a {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}